<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container col-md-10">
    <div th:each="flight : ${flights}">
        <div class="card mb-3">
    <div class="card-horizontal">
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text" th:inline="text"><strong>Departure: </strong>[[${flight.departure}]]</p>
                <p class="card-text" th:inline="text"><strong>Arrival: </strong>[[${flight.arrival}]]</p>
                <p class="card-text"><small th:text="${flight.date}" class="text-muted"></small></p>
                <p class="card-text"><small th:text="${flight.type}" class="text-muted"></small></p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <p class="card-text" th:text="${flight.airline}"></p>
                <p class="card-text" th:text="${flight.flightNumber}"></p>
                <p class="card-text" th:inline="text">$[[${flight.price}]]</p>
            </div>
        </div>
        <div class="col-md-2 img-square-wrapper img-download">
            <img class="card-img" th:src="${flight.url}" alt="Arrival Destination">
            <a data-toggle="collapse" th:href="'#collapse_'+${flight.id}" role="button" aria-expanded="false" aria-controls="collapseExample">
                <span style="font-size:1.25em"><i class="fas fa-cog"></i></span>
            </a>
            <div class="collapse" th:id="'collapse_'+${flight.id}">
                <div class="card card-body card-menu" style="padding: 10px;margin-right: 1px; height: 147px;">
                    <a class="btn btn-info" role="button" style="margin-bottom:5px" th:href="@{/update/{id}(id=${flight.id})}">Update</a>
                    <a class="btn btn-info" role="button" style="margin-bottom:5px" th:href="@{/show/{id}(id=${flight.id})}">Detail</a>
                    <a class="btn btn-info" role="button" th:href="@{/delete/{id}(id=${flight.id})}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>